*.class
*.db
.DS_Store
*.scala.orig
*.log
.gitignore
.idea
.settings
.classpath
.project
.cache
target
obp-api/src/main/resources/
obp-api/src/test/resources/**
!obp-api/src/test/resources/frozen_type_meta_data
*.iml
obp-api/src/main/resources/log4j.properties
obp-api/src/main/scripts/kafka/kafka_*
obp-api/src/main/scripts/kafka/logs/
obp-api/src/main/scripts/kafka/tmp/
obp-api/src/main/scala/code/api/v3_0_0/custom/
/obp-commons/src/main/resources/git.properties
/obp-api2/
/.java-version
