<?xml version="1.0"?>
<configuration>
<!-- ################################################################ -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/error_logfile.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
        </filter>
     <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>log/zipped/error.%i.log.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>60</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
<!-- ################################################################ -->
<!-- ################################################################ -->
    <appender name="WARN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/warn_logfile.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
        </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>log/zipped/warn.%i.log.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>60</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
<!-- ################################################################ -->
<!-- ################################################################ -->
    <appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/info_logfile.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
        </filter>
     <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>log/zipped/info.%i.log.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>60</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
<!-- ################################################################ -->
<!-- ################################################################ -->
    <appender name="DEBUG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/debug_logfile.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>DEBUG</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
        </filter>

     <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>log/zipped/debug.%i.log.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>60</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
<!-- ################################################################ -->
<!-- ################################################################ -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/all.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>TRACE</level>
        </filter>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/zipped/all.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>60</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
<!-- ################################################################ -->
    <root>
    <appender-ref ref="FILE"/>
        <appender-ref ref="WARN-FILE"/>
        <appender-ref ref="ERROR-FILE"/>
        <appender-ref ref="DEBUG-FILE"/>
        <appender-ref ref="INFO-FILE"/>
    </root>
</configuration>