.container #api_documentation_content ol{
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.container #api_documentation_content ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.container #api_documentation_content h1 {
    font-weight: lighter;
    margin-top: 72px;
    margin-bottom: 48px;
}

.container #api_documentation_content h3 {
    font-weight: lighter;
    margin-top:48px;
    margin-bottom:32px;
}

.container #api_documentation_content p:nth-child(3){
    margin-top: 32px;
    margin-bottom: 24px;
}
.container #api_documentation_content p:nth-child(5){
    margin-top: 32px;
    margin-bottom: 32px;
}
.container #api_documentation_content p:nth-child(6){
    margin-bottom: 24px;
}
.container #api_documentation_content p:nth-child(8){
    margin-top: 32px;
    margin-bottom: 24px;
}
.container #api_documentation_content p:last-child{
    margin-bottom: 56px;
}

.container #api_documentation_content p{
    font-size: 16px;
    line-height: 24px;
    font-weight:normal;
    font-family: Roboto-Regular;
    /*paragraph-height: 12px*/
}


.container #api_documentation_content li{
    font-size: 16px;
    line-height: 24px;
    font-weight:normal;
    margin: 8px 0;
    font-family: Roboto-Regular;
    /*paragraph-height: 12px*/
}

.container #api_documentation_content a{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-decoration:underline;
    word-break:break-all;
}