#cookies-consent {
    background: #252525;
    font-family: Roboto-Regular;
    font-size: 16px;
    display:none;
    text-align: center;
    position: relative;
    margin:auto;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    height: 156px;
}

#cookies-consent-font{
    position: absolute;
    left: 100px;
    top: 32px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}

#cookies-consent-button:focus{
    outline: solid 2px #66afe9;
}    
#cookies-consent-button{
    position: absolute;
    left: 100px;
    top: 80px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 24px;
    background-color: #53C4EF;
    height:44px;
    width:169px;
    border: 0;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

#cookies-consent-button:hover{
    background-color: #1f97ef;
}

#cookies-consent-button:active{
    background-color: #0b3aef;
}