/*https://fonts.google.com/specimen/Roboto?selection.family=Roboto&sidebar.open=true*/
/*We use the Roboto font as the OBP default font*/
@font-face {
    font-family: Roboto-Light;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

