#main-apis {
    margin: 0 100px;
}
#main-apis h2 {
    margin-bottom: 48px;
}
#main-apis .main-apis-text {
    margin-bottom: 48px;
}
#customer-onboarding-and-kyc-div{
    padding-right: 0;
}
#main-apis .main-apis-icon img{
    width: 42px;
    height: 42px;
}

#main-apis .main-apis-text h3 {
    margin-bottom: 16px;
    display:inline;
}
#main-apis #api-roles-metrics-documentation{
    margin-right: 0px;
    padding-right: 0px;
}
#main-apis #api-roles-metrics-documentation h3 img{
    margin-left: 1.9px;
}
#main-apis .main-apis-text h3 img {
    margin-left: 7.2px;
}
#main-apis .main-apis-text p{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    margin-top: 16px;
}
#main-apis .btn-secondary{
    margin: auto;
    margin-bottom: 56px;
    background-color: #FFFFFF;
    border-radius: 0;
    text-align: center;
    height: 44px;
    border: 1px solid;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: 179px;
    display: block;
}

#main-apis .btn-secondary:hover{
    background-color: #F3F3F3;
}
#main-apis .btn-secondary:active{
    background-color: #EDEDED;
}
#main-apis .btn-secondary a{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
}