#recover-password h1 {
    margin-top: 52px;
    font-family: Roboto-Light;
    font-size: 35px;
    color: #333333;
    text-align: center;
    line-height: 42px;
    margin-bottom: 51px;
}
#recover-password #recover-password-submit input{
    /* Copy of bootstrap .btn */
    display: inline-block;
    margin-bottom: 100px;
    border-radius: 0px;
    color: #FFF;
    background-color: #53C4EF;
    text-transform: capitalize;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    outline:  0;
    border: 0;
    height: 44px;
    width: 92px;
    font-family: Roboto-Regular;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

#recover-password #recover-password-submit input:hover{
    background-color: #1f97ef;
}
#recover-password #recover-password-submit input:active{
    background-color: #0b3aef;
}

#recover-password form,
#recover-password #recover-password-explanation{
    max-width: 400px;
    margin: 0 auto;
    color: #333333;
}


#recover-password #recover-password-email input
{
    /* Copy of bootstrap .form-control */
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    height: 44px;
    border: 1px solid #767676;
    border-radius: 0px;
}
#recover-password #recover-password-email input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#recover-password h1 + div {
    text-align: center;
}
#recover-password .form-group {
    margin-top: 20px;
}