#register-consumer {
    background-color: #53C4EF;
    padding: 20px 10px;
    color: white;
    margin: 30px 0 90px;
}

#register-consumer #register-consumer-explanation,
#register-consumer form,
#register-consumer-errors,
#register-consumer-success {
    max-width: 610px;
    margin: 0 auto;
    color: #333333;
}
#register-consumer-errors span{
    color: black;
}
#register-consumer h1 {
    font-family: Roboto-Light;
    font-size: 28px;
    color: #333333;
    letter-spacing: 0;
    line-height: 36px;
    text-align: left;
    margin-bottom: 32px;
    font-weight: normal;
}

#register-consumer #register-consumer-explanation p:nth-child(2) {
    font-family: Roboto-Light;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 8px;
    font-weight: normal;
    text-align: left;
}

#register-consumer #register-consumer-explanation p:last-child{
    margin-top: 8px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 32px;
}

#register-consumer-input form label{
    margin-bottom: 8px;
    margin-top: 17px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}

#register-consumer-input form select{
    height: 44px;
    border: 1px solid #767676;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

#register-consumer #register-consumer-explanation {
    margin-top: 32px;
    margin-bottom: 20px;
    color: #333333;
    padding: 0 15px;
}

#register-consumer textarea {
    height: 96px;
    border: 1px solid #767676;
    border-radius: 0px;
}
#register-consumer #register-consumer-errors {
    margin-bottom: 20px;
}
#register-consumer #register-consumer-success {
    margin-top: 30px;
}

#register-consumer #register-consumer-success h1 {
    padding-left: 15px;
}

#register-consumer #register-consumer-success #register-consumer-success-message{
    font-family: Roboto-Light;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    line-height: 31px;
    padding-left: 15px;
}


#register-consumer #register-consumer-success p {
    font-family: Roboto-Light;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    margin-bottom: 44px;
    line-height: 31px;
    padding-left: 15px;
}

#register-consumer-success a{
    text-decoration:underline;
}


#register-consumer-success span,
#register-consumer-success a{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}
#register-consumer #register-consumer-success .row {
    margin-bottom: 20px;
}
#register-consumer #register-consumer-success .row div:nth-child(1) {
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
}
#register-consumer-input form .btn-danger{
    margin-left: 0;
    margin-top: 33px;
}

#register-consumer-input #consumer-registration-app-name-error-div,
#register-consumer-input #consumer-registration-app-description-error-div,
#register-consumer-input #consumer-registration-app-developer-error-div,
#register-consumer-input #register-consumer-errors-div{
    margin-top: 8px;
}

#register-consumer-input #consumer-registration-app-name-error,
#register-consumer-input #consumer-registration-app-description-error,
#register-consumer-input #consumer-registration-app-developer-error,
#register-consumer-input #register-consumer-errors{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    background-image: url(/media/images/icons/status_error_onlight.svg);
    background-repeat:no-repeat;
    background-position: left 12px;
    background-size: 18px 15.70px;
    padding-top: 8px;
    padding-left: 26px;
}

#dummy-user-tokens .col-xs-12:last-child{
    font-family: Roboto-Light;
    font-size: 20px;
    color: #333333;
    line-height: 24px;
}