/*@import url('reset.css');*/
@import url(/media/css/get-started.css);
@import url(/media/css/main-about.css);
@import url(/media/css/nav.css);
@import url(/media/css/main-apis.css);
@import url(/media/css/main-faq.css);
@import url(/media/css/main-support.css);
@import url(/media/css/main-start.css);
@import url(/media/css/authorise.css);
@import url(/media/css/register-consumer.css);
@import url(/media/css/signup.css);
@import url(/media/css/recover-password.css);
@import url(/media/css/main-showcases.css);
@import url(/media/css/footer.css);
@import url(/media/css/api-documentation-content.css);
@import url(/media/css/obp-toastr.css);
@import url(/media/css/responsive.css);
@import url(/media/css/fonts.css);

html {
	font-family: "Roboto-Regular";
	height: 100%
}

body {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #333;
}

a {
	font-family: Roboto-Regular;
	color: #333333;
	text-decoration: none;
}

header .logo {
	margin: 20px 0;
}
header .logo img {
	max-height: 80px;
}
header .logo-xs img {
	max-width: 280px;
	max-height: 80px;
	margin: 10px auto;
}
header #logo-right {
	text-align: right;
}

#table-header {
    width: 100%;
	display: none;
}

#logo-left-xs {
    max-width: 50%;
    min-width: 50%;
    vertical-align: baseline;
    padding:3%;
    padding-left: 10%;
}
#td-logo-left-xs {
    vertical-align: middle;
    text-align: left;
}
#logo-right-xs {
    max-width: 50%;
    min-width: 50%;
    padding:3%;
    padding-right: 10%;
}
#td-logo-right-xs {
    vertical-align: middle;
    text-align: right;
}

header #header-decoration {
	background-color: #53C4EF;
	height: 35px;
	display: none;
}
header #lift__noticesContainer__ {
	display: none;
}

#main-partners {
	padding-bottom: 50px;
	text-align: center;
}
#main-partners img {
	width: 160px;
}
#main-partners a {
	margin:auto;
	display: inline-block;
	padding: 30px 30px 30px 30px;
}

#vendor-support {
	padding: 60px 10px;
	color: white;
	background-color: #53C4EF;
	text-align: center;
}
#vendor-support h2 {
	font-size: 24px;
}
.vendor-support-item {
	display: inline-block;
	margin: 30px 10px;
}
.vendor-support-item a {
	color: white;
}


/* from oauth/authorize.html */
#verifier {
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

/* wrap text, break at any position, no matter where it it word ending*/
.wrap-text {
	word-break: break-all;
	overflow-wrap: break-word;
}

.btn-danger {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	background: #53C4EF;
	border-radius: 0;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-right: 20px;
	height: 44px;
    border: 0;
}
.btn-danger:hover {
	background: #1f97ef;
}
.btn-danger:focus{
	background: #0b3aef;	
}
.btn-danger:active,
.btn-danger:active:focus{
	background: #0b3aef;
}
.btn-default {
	border-radius: 0;
	height: 44px;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #333333;
	text-align: center;
	line-height: 24px;
	background-color: #FFFFFF;
	font-size: 16px;
	border: 1px solid #333333;
}
.btn-default:hover{
	background-color: #F3F3F3;
	border: 1px solid #333333;
}
.btn-default:active{
	background-color: #EDEDED;
	border: 1px solid #333333;
}

input[type="password"],
input[type="text"]{
	height: 44px;
	border: 1px solid #767676;
	border-radius: 0px;
}


.select2-container--default .select2-selection--single {
	height: 44px;
	border-radius: 0px;
	border: 1px solid #767676;
	background: url(../images/dropdown-icon.jpg) no-repeat right 8px top 5px;
	background-size: 44px 32px;
	outline: 0;
}

.select2-container--default .select2-selection--single:focus {
	outline: solid 2px #66afe9;
}

.select2-container--open .select2-selection--single {
	background: url(../images/dropdown-up-icon.jpg) no-repeat right 8px top 5px;
}


.select2-search--dropdown {
	display: none;
}
.select2-results__option {
	padding: 6px;
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
	user-select: none;
	-webkit-user-select: none;
	border: 1px solid #EDEDED;;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
	margin-top: 9px;
	padding-left: 9px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.select2-container--default .select2-results__option--highlighted:hover {
	background: #F3F3F3;
	color: #333333;
}
.select2-container--default .select2-results__option--highlighted:active {
	background:  #EDEDED;;
	color: #333333;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background: #ffffff;
	color: #333333;
	border-left: 3px #53C4EF solid;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	white-space: normal;
	-webkit-clip-path: none;
	clip-path: none;
}

body {
	font-family: "Roboto-Light";
}

header #header-decoration,
.navbar-default,
#main-links,
#authorise,
#signup,
#recover-password,
#register-consumer,
#create-account,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
#vendor-support,
#main-links {
	background-color: #ffffff;
	border: 0;
}

#logo-right-xs {
	max-width: 43%;
	min-width: 43%;
	padding: 6%;
	padding-top: 6%;
	padding-right: 6%;
	padding-bottom: 6%;
	padding-left: 6%;
	padding-right: 10%;
}

#vendor-support {
	padding: 0px 0px;
	color: white;
	background-color: #333333;
	text-align: center;
}

#vendor-support h2 {
	font-size: 24px;
}

.vendor-support-item {
	display: inline-block;
	margin: 30px 10px;
}

.vendor-support-item a {
	color: white;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 16px;
	padding-left: 16px;
}

@media (min-width: 960px){
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: left;
	}
}
.btn-default.focus,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover{
	border-radius: 0;
	outline: 0;
}

.btn-default:hover{
	background-color: #F3F3F3;
	border: 1px solid #333333;
	border-radius: 0;
	outline: 0;
}
.btn-default:active{
	background-color: #EDEDED;
	border: 1px solid #333333;
	outline: 0;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover{
	border-radius: 0;
	outline: 0;
}

.btn-danger:hover{
	border-radius: 0;
	outline: 0;
}

.btn-danger:active{
	border-radius: 0;
	outline: 0;
}

input{
	border-radius: 0;
	outline:  0;
}

#add-user-auth-context-update-request-div form,
#confirm-user-auth-context-update-request-div form{
	max-width: 500px;
	margin: 0 auto;
	color: #333333;
}

#add-user-auth-context-update-request-div #identifier-error-div,
#confirm-user-auth-context-update-request-div #otp-value-error-div{
	text-align: justify;
	color: black;
	background-color: white;
	border-color: white;
	background-image: url(/media/images/icons/status_error_onlight.svg);
	background-repeat:no-repeat;
	background-position: left 13px;
	background-size: 18px 15.70px;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 0;
}

#add-user-auth-context-update-request-div #identifier-error .error,
#confirm-user-auth-context-update-request-div #otp-value-error .error{
	color: black;
	background-color: white;
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #333333;
	line-height: 24px;
	margin-bottom: 15px;
}