@import url('https://static.openbankproject.com/css/bnpp/bnpp-fonts.css');

body {
	font-family: "BNPPRounded", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

#authorizeSection,
#registerAppSection,
#create-sandbox-account,
#header-decoration {
    background-color: #499A5F !important;
}

#agree-terms-text a {
	color: #fff;
	text-decoration: underline;
}
