@import url('https://static.openbankproject.com/css/bnppirb/bnpp-irb-fonts.css');

#authorizeSection,
#registerAppSection,
#create-sandbox-account,
#header-decoration {
    background-color: #499A5F !important;
}

#agree-terms-text a {
	color: #fff;
	text-decoration: underline;
}

#logo-left {
    margin: 20px 0 0 20px;
    float: left;
    display: inline-block;
    /* height: 75px; */
}

#logo-right {
    margin: 20px 20px 0 0;
}

p {
    font-family: BNPPSansLight;
}

a {
    font-family: BNPPSansLight;
}

.navlink {

    font-family: BNPPSansLight;
    text-transform: uppercase;


}

h1 {
    font-family: BNPP-IRB-COND;
    text-transform: uppercase;
}

h2 {
    font-family: BNPP-IRB-COND;
}

#main-about-box #main-about-buttons a {
  font-family: BNPP-IRB-Rounded2;
  font-size: 18px;
}
 
#main-about-box {
  opacity: 1;
  background-color: #00965E;
}

#main-about-text h2 {
    text-transform: uppercase;
    font-family: BNPP-IRB-COND;
}

#main-about-text p {
    font-family: BNPPSansLight;
}
 
#main-about p {
    color: white;
    font-family: BNPPSansLight;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px 0px 0px 0px;
}

#main-about h2 {
    color: white;
    font-family: BNPP-IRB-COND;
    font-size: 32px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px 0px 0px 0px;

}

#footer {
    border-bottom: 4px solid #00935E;

}

#footer2 {

    overflow: auto;
    margin: 0 auto;
    width: 1050px;
    padding: 0px 0 20px;
}

#footer2 #footer2-logo-left {
    margin: 0 0 0 450px;
    float: left;
    display: inline-block;
}

#footer2-logo-left img {
    max-height: 30px;

}

#footer2 #footer2-middle-text {
    font-size: 14px;
    line-height: 23px;
    margin: 5px 0 0 25px;
    float: left;
    font-family: BNPPSans;
}

#footer2-font {
    font-family: BNPPSans;
    font-size: 14px;
}

#copyright {
    font-family: BNPPSansLight;
}

#main-support {
    background-color: #24b3c7;
}

#top-text {
    font-family: BNPPSans;
    font-size: 17px;
    font-weight: normal;
    margin: 23px 0 0 30px;
    display: inline-block;
    float: left;

}

#webui_top_text {
    color: #1d1d1b;
    margin: 0;
    font-size: 17px;
    line-height: 31px;
    font-weight: normal;
    font-family: BNPPSans;
}