@import url('https://static.openbankproject.com/css/bnpp/bnpp-fonts.css');

body, div, h1, h2, h3, h4, p, span {
	font-family: "BNPPRounded", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#authorizeSection,
#registerAppSection,
#create-sandbox-account,
#header-decoration {
    background-color: #499A5F;
}

#main-about-box {
    background-color: rgba(73, 154, 95, 0.7);
}

#agree-terms-text a {
	color: #fff;
	text-decoration: underline;
}
