#header-decoration {
	background-color: #fff;
	height: 0;
}

#logo-left {
	margin-left: 0;
}
#logo-right {
	margin-right: 0;
}

#logo-right img {
	width: 350px;
	margin-top: 19px;
}

#nav ul {
	margin-left: -40px;
	margin-right: -30px;
	text-transform: uppercase;
}
#nav ul li a {
	color: #fff;
}
#nav ul li a:visited {
	color: #fff;
}
#nav ul li:nth-child(1)::before {
	background-image: none;
}
#nav ul li:nth-child(2) a::after, #nav ul li:nth-child(3) a::after, #nav ul li:nth-child(4) a::after, #nav ul li:nth-child(5) a::after, #nav ul li:nth-child(6) a::after {
	background-image: none;
}

#nav .nav-login-state-item .logout {
	color: #fff;
	margin-right: -10px;
}

#nav,
#main-showcases,
#main-support,
#main-links,
#authorizeSection,
#registerAppSection,
#create-sandbox-account {
	background-color: #1932a9;
}

#registerAppSection table {
	color: #fff;
}

#main-links a {
	border-color: white;
}

#main-showcases {
	margin-bottom: 0;
}

#main-faq {
	margin-top: 0;
	background-color: #60cb86;
	color: #fff;
}
#main-faq a {
	color: #eee;
	text-decoration: underline;
}
#main-faq h2 {
	color: #fff;
}

#main-faq .collapse.plus {
	background-image: url('https://static.openbankproject.com/images/jbfg/faq/plus.png');
}
#main-faq .collapse.minus {
	background-image: url('https://static.openbankproject.com/images/jbfg/faq/minus.png');
}

#main-faq .main-faq-cell {
	color: #fff;
}


.green-button a {
	border: 3px solid #1932a9;
	border-radius: 25px;
	background-color: #1932a9;
	color: #fff;
	padding: 10px;
	font-size: 24px;
}

a {
	color: #ccc;
}
a:hover {
	color: #fff;
}
