h1 {
	color: white;
	font-family: "Nunito", "sans-serif";
	font-size: 36px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}

#main #main-about {
	padding-top: 0 !important;
}

.top {
	background-color: #53C4EF;
	font-family: "Nunito", "sans-serif";
	padding: 40px;
}

.intro {
	font-family: "Nunito", "sans-serif";
	margin: 0 20px;
	text-align: center;
}

.content-big {
	font-family: "Nunito", "sans-serif";
	margin: 30px 200px;
	text-align: center;
}

.buttons {
	font-family: "Nunito", "sans-serif";
	margin: 40px 0;
	text-align: center;
}
.buttons a {
	border: 2px solid white;
	border-radius: 24px;
	color: white;
	margin-bottom: 10px;
	font-family: "Nunito", "sans-serif";
	font-size: x-large;
	font-weight: bold;
	padding: 10px 50px;
	text-decoration: none;
	text-transform: uppercase;
}

.content-small {
	background-color: white;
	font-family: "Nunito", "sans-serif";
	margin: 20px 20px 0 20px;
	padding: 30px;
	text-align: center;
}

.newsletter {
	background-color: black;
	font-family: "Nunito", "sans-serif";
	margin: 0 20px;
	padding: 30px;
	text-align: center;
}
.newsletter input {
	border: 1px solid black;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	font-family: "Nunito", "sans-serif";
	height: auto;
	padding: 10px 20px;
}
.newsletter button {
	border: 1px solid black;
	border-left: 0px;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	background-color: #50b165;
	color: white;
	font-family: "Nunito", "sans-serif";
	font-size: 17px;
	margin-left: -6px;
	padding: 10px 30px 10px 10px;
}
