#main-about-box,
#header-decoration,
#authorizeSection,
#registerAppSection,
#create-sandbox-account {
	background-color: #d60006;
}

#header-decoration {
	height: 4px;
}


#main-about {
	padding-top: 0;
}

#main-about-box {
	padding-top: 40px;
	margin-left: 0;
	margin-top: 0;
	width: 100%;
	opacity: 1;
}
