body {
  min-width: 320px;
}

.signup {
  line-height: 26px;
}

input, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.account-in-content form.login .button .submit, .account-in-content form.login .button .signup {
  padding: 0 20px;
  height: 34px;
  line-height: 34px;
}

.account-in-content form.login .field.buttons {
  float: left;
  width: 100%;
  height: auto;
  min-height: 1px;
  overflow: hidden;
  margin: 10px 0 20px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.account-in-content form.login .field.buttons .button-field:last-child {
  margin: 0;
}

@media all and (max-width: 1070px) {
  #logo-left, #logo-right {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	width: 611px;
  }
  #logo-right {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	width: 156px;
  }

  #wrapper {
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  #logo-left, #logo-right {
	margin-left: 15px;
	margin-right: 0;
	width: auto;
	max-width: 500px;
  }
  #logo-left img, #logo-right img {
	  max-width: 440px;
	  height: auto;
  }
  #nav {
    padding: 4px 15px 0;
    float: left;
    width: 100%;
    height: auto;
    min-height: 1px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #nav ul {
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    height: 90%;
  }
  #nav ul a {
    padding: 8px 18px 10px;
    border-radius: 0 0 0 0;
    font-size: 15px;
  }
  #nav .nav-login-state-item {
    margin: 3px 0 0 0;
  }
  #nav .nav-login-state-item a {
    padding-right: 0;
  }

  #userAccess {
    padding: 0;
  }

  .account {
    max-width: 70%;
    min-width: 70%;
    margin: 0 auto;
    min-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;
    font-size: 22px;
  }

  #authorizeSection {
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 0;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #authorizeSection form.login {
    width: 100%;
  }

  .account-in-content form.login .field input {
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .account-in-content form.login .field .forgot {
    float: right;
    margin: 1px 6px 20px 0;
    padding: 2px 0 0;
    font-size: 17px;
    width: 100%;
    color: white;
  }

  #footer {
    display: block;
    height: auto;
    min-height: 1px;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 30px 0 10px;
    float: left;
  }
  #footer div:last-child {
    margin: 10px 0;
    position: relative;
  }
  #footer div:last-child:before {
    display: block;
    content: '';
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
  }
  #footer div:last-child a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  #logo-left, #logo-right {
	margin-left: 15px;
	margin-right: 0;
	width: auto;
	max-width: 500px;
  }
  #logo-left img, #logo-right img {
	  max-width: 440px;
	  height: auto;
  }
  .navitem {
	  display: none;
  }
  .navitem.navitem-home {
	  display: block;
  }
  .account {
    max-width: 100%;
    width: 100%;
  }
}
