@import url('reset.css');

@media all and (max-width: 320px) {
    #signupForm td input{
        width: 150px;
    }
}
@media all and (min-width: 321px) {
    #signupForm td input{
        width: 200px;
    }
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

a {
	color: #1C8B77;
}

a:hover {
	color: #156759;
}

a.sort {
	overflow: hidden;
	display: inline-block;
	width: 7px;
	height: 9px;
	background: transparent url(../images/sort.png) no-repeat 50% 0;
	text-indent: -9999em;
}

a.add {
	display: inline-block;
	padding: 0 0 0 20px;
	background: transparent url(../images/add-off.png) no-repeat 0 0;
	line-height: 16px;
	font-size: 12px;
	text-decoration: none;
	color: #999999;
}

a.add:hover {
	background-image: url(../images/add-on.png);
	text-decoration: underline;
	color: #666666;
}

a.edit {
	overflow: hidden;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent url(../images/edit-off.png) no-repeat 0 0;
	text-indent: -9999em;
}

a.edit:hover {
	background-image: url(../images/edit-on.png);
}

input.edit {
	float: left;
	vertical-align: middle;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	padding: 1px;
	font-size: 10px;
	width: 60%;
}

input.submit {
	float: left;
	margin: 0 0 0 2px;
	cursor: pointer;
}

#wrapper {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	overflow: auto;
	padding: 45px 0 40px;
	background: transparent url(../images/header.png) repeat-x 50% 100%;
}

#accountShortDiscription {
	font-size: 20px;
	display: inline-block;
}

#social {
	float: right;
}

#nav {
	overflow: auto;
	padding: 3px 0 0;
	background: transparent url(../images/nav.png) repeat-x 50% 50%;
}

#about_text {
	text-align: justify;
	width: 500px;
	margin-top: 15px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#nav ul {
	float: left;
}

#nav ul li {
	float: left;
	margin: 0 0 0 3px;
}

#nav ul li a {
	display: block;
	padding: 8px 20px 10px;
	border-radius: 5px 5px 0 0;
	background: transparent url(../images/nav-item.png) repeat-x 50% 50%;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 1px 1px #666666;
}

#nav ul li a.selected {
	float: left;
	background-image: url(../images/nav-selected.png);
	color: #333333;
	text-shadow: none;
}

#logo {
	float: left;
	overflow: hidden;
	width: 279px;
	height: 38px;
	margin: 0 0 0 10px;
	background: transparent url(../images/logo.png) no-repeat 50% 0;
	text-indent: -9999em;
	cursor: pointer;
}

.account-upper{
	height: 100%;
	padding: 2px 0 0;
	float: right;
}

.account-in-content{
	height: 100%;
	padding: 2px 20px 0;
}

#account .profile-info {
	float: right;
	margin: 0 10px 0 0;
	font-size: 12px;
}

#account .account-info {
	padding: 7px 15px 8px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	background: #ffffff;
	font-size: 17px;
	color: #666666;
}

#account .logout {
	font-size: 12px;
}


.account-upper form.login{
	float: right;
}

.account-in-content form.login{
	width: 555px;
	margin:0 auto
}



.account-upper form.login .field,
.account-upper form.login .button {
	float: left;
}

.account-in-content form.login .field{
	margin-top: 10px;
}

#account form.login .field {
	width: 164px;
}


.account-upper form.login .field label {
	font-size: 11px;
}

.account-in-content form.login .field label {
	font-size: 12px;
}

.account-upper form.login .field input {
	float: left;
	font-size: 12px;
}

.account-in-content form.login .field input {
	font-size: 14px;
}

#account form.login .field input {
	clear: left;
	width: 150px;
	background: #ffffff;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 2px;
}

#account form.login .field .forgot {
	float: right;
	margin: 1px 8px 0 0;
	padding: 2px 0 0;
	font-size: 11px;
}

#account form.login .field .signup {
	float: right;
	margin: 1px 8px 0 0;
	padding: 2px 0 0;
	font-size: 11px;
}

#account form.login .button .submit {
	float: left;
	background: #c1e7e1;
	border: 1px solid #22a890;
	border-radius: 3px;
	padding: 2px 5px;
	color: #58988e;
	font-size: 12px;
	cursor: pointer;
	margin: 14px 0 0;
}

#content {
	padding: 20px 0 40px;
}

table {
	width: 100%;
	margin: 0 0 40px;
	border-collapse: collapse;
	clear : both;
}

/* don't add spacing after last table in a transaction list */
#content div div:last-of-type table {
    margin-bottom: 0px;
}

#verifier {
	margin-top: 30px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

#signupForm tr td:first-child {
    width: 170px;
}

#signupForm td span input{
    display:block;
    clear:both;
}
#signupForm td span input:first-child {
    margin-bottom:10px;
}
#signupForm td span input:last-child {
    margin-top:5px;
}

#signupForm td input[type=submit]{
    width:85px;
}

table th,
table td {
	text-align: left;
}

table tbody tr {
	background: #f3f9f8;
}

table tbody tr:nth-child(even) {
	background: #f2f8f1;
}

table td {
	padding: 14px 10px;
	border-top: 2px solid #ffffff;
	line-height: 1em;
	font-size: 13px;
	vertical-align: top;
}

table th {
	overflow: auto;
	padding: 0 0 10px 8px;
	border-bottom: 2px solid #cbcbcb;
}

table.management th {
    padding-left: 0px;
}

table.transactions th h5.date {
	float: left;
}

table.transactions th h6.balance {
	float: right;
}

table.transactions th .balance .text {
	color: #999999;
	padding: 0 10px 0 0;
	font-size: 0.8em;
}

table.transactions td.icon {
	width: 20px;
}

table.transactions td.icon .out,
table.transactions td.icon .in {
	overflow: hidden;
	width: 14px;
	height: 14px;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-indent: -9999em;
}

table.transactions td.icon .out {
	background-image: url(../images/transaction-out.png);
}

table.transactions td.icon .in {
	background-image: url(../images/transaction-in.png);
}

table.transactions td.symbol {
	width: 10px;
	padding-right: 5px;
	text-align: center;
	font-weight: bold;
}

table.transactions td.amount {
	padding-left: 5px;
	width: 100px;
}

table.transactions td.name {
	width: 160px;
}

table.transactions td.extra {
	width: 350px;
}

table.transactions td.comments {
	width: 30px;
	padding-top: 10px;
	text-align: right;
}

table.transactions td.comments .comment {
	display: inline-block;
	background: transparent url(../images/comment.png) no-repeat 50% 0;
	width: 13px;
	height: 9px;
	padding: 3px 3px 6px 4px;
	color: #333333;
	text-align: center;
	line-height: 1em;
	font-size: 9px;
}

table.management th a.sort {
	margin: 0 0 0 3px;
}

td a.upload {
	display: inline-block;
	padding: 5px 5px 6px 30px;
	border: 1px dotted #cccccc;
	border-radius: 5px;
	background: #ffffff url(../images/upload-off.png) no-repeat 5px 5px;
	line-height: 22px;
	white-space: nowrap;
	font-size: 12px;
	text-decoration: none;
	color: #999999;
}

table.management td a.upload:hover {
	background-image: url(../images/upload-on.png);
	text-decoration: underline;
	color: #666666;
}

table.management td span.upload {
	display: inline-block;
	padding: 2px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #ffffff;
	line-height: 0;
	font-size: 0;
}

table.management td span.upload img {
	height: 30px;
}

table.management th {
	font-size: 14px;
}

table.management th.account {
	width: 155px;
}

table.management td.account {
	padding-right: 15px;
}

table.management th.public {
	width: 120px;
}

table.management td.public {
	padding-left: 0;
	line-height: 16px;
	font-size: 12px;
}

table.management th.private {
	width: 120px;
}

table.management td.private {
	padding-left: 0;
	line-height: 16px;
	font-size: 12px;
}

table.management th.website {
	width: 150px;
}

table.management td.website {
	padding-left: 0;
	line-height: 16px;
	font-size: 12px;
}

table.management th.information {
	width: 200px;
}

table.management td.information {
	padding-left: 0;
	line-height: 16px;
	font-size: 12px;
}

table.management th.image {
	width: 120px;
}

table.management td.image {
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 0;
	text-align: right;
}


div.extra_account_logo {
    float: left;
}

div.extra_account_logo img {
    max-width: 200px;
    max-height: 100px;
}

div.extra_info_and_links {
    float: left;
    margin-left: 10px;
}

span.alias_indicator_public {
    color: green;
    padding: 2px;
}

span.alias_indicator_private {
    color: purple;
    padding: 2px;
}


#footer {
	background: #f0f0f0;
	border-top: 1px dotted #cccccc;
	border-radius: 0 0 8px 8px;
	padding: 10px 0 13px;
}

#footer p {
	color: #999999;
	font-size: 11px;
	text-align: center;
	line-height: 1.5
}
#authorizeSection{
    margin-bottom: 80px;
}

.login-error {
	margin-bottom: 10px;
	color: red;
}

#authorizeSection form.login {
	margin-top: 20px;
}
span.edit_error_class {
	color: red;
}
#accountList {
	margin-top: 5px;
	float : right;
}

#public_accounts, #authorised_accounts {
	background: #FAFAFA;
	width: 200px;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 20px 10px;
	margin-top: 20px;
	margin-right: 80px;
	float: left;
}

#authorised_accounts {
	background: #FAFAFA;
	width: 230px;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 10px 20px 10px;
	margin-top: 20px;
	float: right;
}

#homeContent {
	overflow: hidden;
}

.account_header {
	margin-bottom: 10px;
}

.account {
	margin-bottom: 5px;
}

li.comment
{
	padding : 14px 10px;
	border-top: 2px solid white;
	background: #f3f9f8;
	line-height: 1em;
	font-size: 13px;
}
#comment_list
{
	margin-top: 10px;
}
div#addCommentbloc
{
	margin-top: 15px;
}
#submitComment
{
	display: block;
}
#lastUpdate
{
	margin-top: 5px;
	font-size: 13px;
	display: block;
}
#account_details
{
	margin-bottom: 25px;
}
a#feedBack
{
	display: block;
	position: fixed;
	left:0;
	top: 50%;
	width: 26px;
	height: 87px;
	background: url(../images/feedback-button.gif);
	cursor: pointer;
}
span#registrationDetails
{
	font-size: 10px;
}
.error
{
	color:red;
}
img.moreInfoIcon
{
	margin-left: 5px;
}
span#submissionMessage
{
	display: block;
}
span#submissionSuccess, span#submissionFailed
{
	display: block;
	padding: 15px 20px;
	background: #66ee55;
}
span#submissionFailed
{
	background: #ff3311;
}
span#accountsMsg
{
	font-size: 13px;
}
#registration-errors{
	color: red;
	border: solid 1px red;
	margin: 20px;
	padding: 15px;
}

#oauth-done-thanks {
	margin: 30px;
}

#create-account-form-container {
    margin-left: 50px;
    margin-top: 30px;
}

#create-account-form-container input {
    margin-top: 5px;
}

#create-account-instructions {
    margin-left: 10px;
}

#create-account-error-message {
    margin-left: 50px;
    margin-top: 10px;
    color: red;
}

#account-created-successfully {
    margin-left: 50px;
    margin-top: 10px;
    color: green;
}

#admin-logout {
	margin: 20px;
	padding: 10px;
	border: 2px solid;
	border-color: #FF0000;
}